/thurula/thurula/bin
/thurula/.idea
/thurula/thurula/obj
/thurula/thurula/Properties
/thurula/thurula/appsettings*
/thurula/thurula/Program.cs
/thurula/thurula/launchSettings.json
/thurula/thurula.sin*